<!-- TODO: REFACTOR THIS STYLE -->
<div class="modal-container">
	<div class="modal-background" (click)="storeService.isDaySelected = false"></div>
	<div class="modal-content">

    <form [formGroup]="formGroup">
    
		<div class="row">
			<div class="pad col-12">
				<input type="date" formControlName="date">
			</div>

			<div class="pad col-12">
				<select formControlName="scope">
					<option *ngFor="let scope of storeService.scopes" [value]="scope.id">
						{{scope.text}}
					</option>
				</select>
			</div>

			<div class="pad col-12">
				<input placeholder="Cantidad" formControlName="quantity" type="number">
			</div>
			
			<div class="pad col-12">
				<button class="form-button float-right" [disabled]="!formGroup.valid" (click)="save()">
					Guardar
					<i class="fa fa-plus-square"></i>
				</button>
			</div>
		</div>
    </form>

	<div class="w-100"><hr></div>
	
    <div class="row margin-bottom-light"><div class="col-12">{{storeService.selectedDay?.dayFormatted}}</div></div>
	
	<div class="row" *ngFor="let todo of storeService.getSelectedDay()?.todos">
      <span class="col-10">{{todo.quantity}} {{todo.scope.data_type}}</span>
      <div class="col-2">
        <button class="delete-button no-pad"><i class="fa fa-trash"></i></button>
      </div>
    </div>    
  </div>
</div>