<form [formGroup]="formGroup">
  
  <input type="date" formControlName="date">

  <div class="select">
    <select formControlName="scope">
      <option *ngFor="let scope of storeService.scopes" [value]="scope.id">
        {{scope.text}}
      </option>
    </select>
  </div>

  <input placeholder="Cantidad" formControlName="quantity" type="number">

  <input placeholder="Descripción" formControlName="description" type="text" maxlength="20">

  <button [disabled]="!formGroup.valid" (click)="save()">
    <i class="fa fa-plus-square"></i>
  </button>
</form>
