/* You can add global styles to this file, and also import other style files */

html, body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
}

body {
  background: #0e0e0e;
  font-family: "Roboto", sans-serif;
}

app-calendar {
  height: 100%;
  width: 100%;
}

.pad {
  padding: .5em;
}

.no-pad {
  padding: 0;
}

.pad-top {
  padding-top: 1em;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.button {
  background: #2BAE66FF;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  padding: .5em;
  border: 0;
  min-width: 120px;
}

.button>i {
  padding: .3rem;
}

.button:disabled {
  background-color: grey;
}

.delete-button {
  background-color: inherit;
}
.delete-button > i {
  font-size: 1rem;
  color: red;
  cursor: pointer;
}

hr {
  border-top: 1px solid !important;
  margin: 1rem !important;
}

.margin-bottom {
  margin-bottom: 3em;
}

.margin-bottom-light {
  margin-bottom: 1em !important;
}