/* You can add global styles to this file, and also import other style files */

body, html {
  padding: 0;
  margin: 0;
}

body {
  background: #0e0e0e;
  /* background-image: linear-gradient(120deg, #2BAE66FF, #beb8b7); */
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

app-calendar {
  display: flex;
  justify-content: center;
  height: 90vh;
}

#circle {
  margin-left: .5rem;
  margin-right: .5rem;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.button {
  padding: .5em;
  cursor: pointer;
  transition: all .35s;
  border-radius: .3em;
}

.button:hover {
  background-color: #a9dc76d3;
  color: white;
}

.pad {
  padding: .5em;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}
