<div class="container">

  <h1>{{getMonth()}}</h1>

  <table>
    <tr>
      <th *ngFor="let header of headers">{{header.text}}</th>
    </tr>

    <tr *ngFor="let week of storeService.month?.weeks; let i = index">
      <td 
        *ngFor="let day of week.days" 
        [ngClass]="{'selected-day': storeService.selectedDay.number === day?.number && storeService.selectedDay.month === day?.month}"
        (click)="selectDay(day)">
    
        <span 
          style="font-size: 12px" 
          [style.color]="day?.month !== storeService.getActualMonth() ? '#ffffff56' : '#ffffffa4'">
          {{day?.number}}
        </span>
    
        <div class="cells-container">
          <div class="cell" *ngFor="let todo of day?.todos">
            <!-- <div id="circle" [style]="'background:' + todo.scope.color"></div> -->
            <div class="description" *ngIf="(todo.quantity + todo.description).length < 20">
              <span class="text-yellow">{{ todo.quantity }}</span>{{' steps ' + todo.description}}
            </div>
          </div>
        </div>

      </td>
    </tr>
  </table>

</div>
