* {
    color: #ffffffa4;
}

h1 {
    color: #ff6188;
}

@media (max-width: 800px) {
    .table-content>* {
        width: 98%;
    }
    .table-buttons {
        position: fixed;
        bottom: 0;
    }
}
@media (min-width: 800px) {
    .table-content>* {
        width: 80%;
    }
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    background: #101010;
    width: 100%;
}
.align-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-header {
    padding: 1em .5em 0 .5em;
}

.table-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    width: -webkit-fill-available;
}

th {
    border: 1px solid #3c3a3a;
    padding: .5rem;
    color: #78dce8;
}

td {
    border: 1px solid #3c3a3a;
    margin: 0;
    width: 14%;
    padding: 0;
    height: 6em;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px;
    z-index: 10;
}

tr {
    vertical-align: baseline;
}

.container {
    width: 100%;
}

.selected-day {
    background: #a9dc76d3;
}

.description {
    padding-left: 3%;
}

.text-steps {
    color: #ffd866;
}

.text-kg {
    color: #ff6188;
}

.bg-steps {
    background-color: #ffd866;
}

.bg-kg {
    background-color: #ff6188;
}

.pad-left {
    padding-left: 2em;
}

.pad {
    padding: .3em;
}
