<div class="container">

  <div class="table-header">
    <div class="button" (click)="calendarService.goToLastMonth()">{{calendarService.getPrevMonthText()}}</div>
    <h1>{{calendarService.getMonthText()}}</h1>
    <div class="button" (click)="calendarService.goToNextMonth()">{{calendarService.getNextMonthText()}}</div>
  </div>

  <div class="table">
    <table>
      <tr>
        <th *ngFor="let weekDay of globals.weekDays">{{weekDay.text}}</th>
      </tr>
  
      <tr *ngFor="let week of storeService.month?.weeks; let i = index">
        <td 
          *ngFor="let day of week.days" 
          [ngClass]="{'selected-day': storeService.selectedDay.number === day?.number && storeService.selectedDay.month === day?.month}"
          (click)="selectDay(day)">
      
          <span 
            [style.color]="day?.month != calendarService.getMonth() ? '#ffffff2b' : '#ffffffa4'">
            {{day?.number}}
          </span>

          <div>
            <div class="cell" *ngFor="let todo of day?.todos">
              <ng-container *ngIf="todo.scope.data_type == 'pasos'">
                  <span class="text-yellow">{{ (todo.quantity | number) + ' ' }}</span><span class="description">{{todo.scope.data_type}}</span>
              </ng-container>
            </div>
          </div>
  
        </td>
      </tr>
    </table>
  </div>
</div>
